# Logs
logs
*.log

node_modules
dist
dist-ssr
*.local
*.tsbuildinfo

# Turbo
.turbo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
