{
  "trailingComma": "all",
  "semi": true,
  "tabWidth": 2,
  "singleQuote": false,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "parser": "typescript"
      }
    }
  ],
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
